<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:locale" content="eng_ENG" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ogTitle}}" />
    <meta property="og:description" content="{{ogDescription}}" />
    <meta property="og:url" content />
    <meta property="og:image" content="{{ogImage}}" />
    <meta property="og:site_name" content="{{title}}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>

    {{>header.hbs}}

    <main>

        {{{innerHTML}}}

    </main>

    {{>footer.hbs}}

    <script type="application/javascript">
        document.querySelector("[property='og:url']").setAttribute("content", location.href);
    </script>
</body>
</html>